@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.cta-container {
    display: flex;
    gap: 8px;
}

.cta-container button {
    width: 50%;
    cursor: pointer;
}

.product a:hover {
    text-decoration-line: underline;
}

.price {
    font-size: 24px;
    margin: 0;
}

.cart-container {
    max-width: 1200px;
    margin-inline: auto;
}

.cart-container h2 {
    text-align: center;
    margin: 32px 0;
}

.cart-header {
    font-weight: 700;
    padding: 24px;
}

.cart-item-container:not(:last-child) {
    border-bottom: 1px solid #898989;
}

.cart-item-container {
    padding: 12px 24px;
    display: grid;
    gap: 16px;
    grid-template-columns: 4fr 1fr 1fr 1fr;
}

.cart-item-container>div:not(.cart-item) {
    justify-content: center;
}

.cart-item-container>div:last-child {
    justify-content: flex-end;
}

.cart-item-container img {
    width: 60px;
}

.cart-item-container>div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.cart-icon {
    position: relative;
}

